<%- layout("/layouts/boilerplate") %>
<div class="row mt-3">
    <h1 class="col-6 offset-3">Signup</h1>
    <div class="col-6 offset-3">
        <form  action="/signup" method="post" class="needs-validation" novalidate>
            <div class="mb-3" >
                <label for="username" class="form-label">Username</label>
                <input name="username" id="username" type="text" class="form-control" required>
                <div class="invalid-feedback">please enter a valid username</div>
                <div class="valid-feedback">looks good!</div>
            </div>
            <div class="mb-3" >
                <label for="email" class="form-label">Email</label>
                <input name="email" id="email" type="text" class="form-control" required>
                <div class="invalid-feedback">please enter a valid email</div>
                <div class="valid-feedback">looks good!</div>
            </div>
            <div class="mb-3" >
                <label for="password" class="password">Password</label>
                <input name="password" id="password" type="password" class="form-control" required>
                <div class="invalid-feedback">please enter a valid password</div>
                <div class="valid-feedback">looks good!</div>
            </div>
            <button class="btn btn-success mb-3">SignUp</button>
        </form>
    </div>
</div>